{% extends 'ewalletAdmin/store.html' %}

{% block content %}
<!-- Checkout -->
<section class="pb-0 pt-3">
     <div class="container-fluid">
         <!-- Cart item -->
         <div class="row gy-4">
             <div class="d-flex flex-column col-lg-6">
                 <div class="card card-body mb-0" id="form-wrapper">
                     <h3>Order Summary</h3>
                     <hr>
                     {% for item in items %}
                     <div class="row">
                         <div class="col-6">{{item.product.name}}</div>
                         <div class="col-3">x{{item.quantity}}</div>
                         <div class="col-3 align-content-end">RM{{item.product.price|floatformat:2}}</div>
                     </div>
                     {% endfor %}
                     <hr>
                     <div class="row">
                         <div class="col-3 offset-5">Items: {{order.get_cart_items}}</div>
                         <div class="col-4">Total: RM{{order.get_cart_total|floatformat:2}}</div>
                     </div>
                 </div>
             </div> 
             <a class="btn w3-theme-d4 rounded-circle" href="{% url 'ewalletAdmin:store' %}">Confirm Payment</a>           
         </div>
     </div>
 </section>
{% endblock %}
