{% extends 'partials/base.html' %}
{% load static %}

{% block custom_css %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
{% endblock %}
{% block title %} Home {% endblock %}

{% block content %}

<!-- Page Header-->
<header class="bg-white shadow-sm px-4 py-3 z-index-20">
    <div class="container-fluid px-0">
        <h2 class="my-0">Dashboard</h2>
    </div>
</header>

<!-- Section-->
<section class="pb-0 pt-3">
    <div class="container-fluid">
        <div class="row gy-3">
            <div class="col-sm-4">
                <div class="card bg-light mb-1 border-dark">
                    <div class="card-header">
                        <h5 class="text-center my-0"><strong>Total Students</strong></h5>
                    </div>
                    <div class="card-body">
                        <h1 style="text-align: center;padding: 5px">{{ student.count }}</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card bg-light mb-1 border-dark">
                    <div class="card-header">
                        <h5 class="text-center my-0"><strong>Total Registered Parents</strong></h5>
                    </div>
                    <div class="card-body">
                        <h1 style="text-align: center;padding: 5px">{{ parent.count }}</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card bg-light mb-1 border-dark">
                    <div class="card-header">
                        <h5 class="text-center my-0"><strong>Total Sales</strong></h5>                        
                    </div>
                    <div class="card-body">
                        <h1 style="text-align: center;padding: 5px">RM {{ total }}</h1>
                    </div>
                </div>
            </div>
            <!-- Bar Chart  -->
            <div class="col-sm-4 col-lg-4 offset-lg-4">
                <div class="card mb-0 h-100 bg-light">
                    <div class="card-header">
                        <h5 class="text-center my-0"><strong>Total Money Spent of Students</strong></h5>                                                    
                    </div>
                    <div class="card-body">
                        <canvas id="myChart" width="100" height="50"></canvas>
                    </div>
                </div>
            </div>
             <!-- Bar Chart  -->
             <!-- <div class="col-lg-6">
                <div class="card mb-0 h-100 bg-light">
                    <div class="card-header">
                        <h5 class="text-center my-0"><strong>Sales of year {{ year }} </strong></h5>   
                                                
                    </div>
                    <div class="card-body">
                        <canvas id="myChart2" width="100" height="50"></canvas>
                    </div>
                </div>
            </div> -->

        </div>
    </div>
</section>

<!-- Charts Section-->
<section class="charts">
    <div class="container-fluid">
        <div class="row gy-4 align-items-stretch">
            <!-- Chart -->
            <!-- <div class="col-lg-4">
                <div class="card mb-0 h-100">
                    <div class="card-header d-flex align-items-center">
                        <div class="card-close">
                            <div class="col-lg-3">
                                <button class="dropdown-toggle text-sm" type="button" id="closeCard1"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end shadow-sm" aria-labelledby="closeCard1">
                                    <h5>Select Period</h5>
                                    <a class="dropdown-item py-1 px-3 remove" href="#"> <i class="fas fa-times"></i>Close</a>
                                    <a class="dropdown-item py-1 px-3 edit" href="#"> <i class="fas fa-cog"></i>Edit</a>
                                </div>
                            </div>
                        </div>
                        <h5 class="h5 mb-0">Student's</h5>
                    </div>
                    <div class="card-body">
                        <div class="btn-group btn-group-sm d-flex flex-center" role="group"
                             aria-label="radio toggle button group">
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                            <label class="btn btn-outline-primary" for="btnradio1">All Time</label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnradio2">This Week</label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnradio3">This Month</label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnradio4">This Year</label>
                        </div>
                        <canvas id="myChart" width="100" height="100"></canvas>
                    </div>
                </div>
            </div>             -->

        </div>
    </div>
</section>

{% endblock %}

{% block js_scripts %}
<script>        
    var color = [];
    var color2 = [];
    for (var i = 0; i < 10; ++i) {  
        randomBetween = (min, max) => min + Math.floor(Math.random() * (max - min + 1));
        r = randomBetween(50, 255);
        g = randomBetween(50, 255);
        b = randomBetween(50, 255);
        rgb = `rgb(${r},${g},${b},0.5)`; 
        rgb2 = `rgb(${r},${g},${b})`;      
        color.push(rgb);
        color2.push(rgb2);
        // console.log(rgb)
    };
    // setup 
    const data = {
        labels: [{% for i in test.keys %} '{{ i }}', {% endfor %}],
        datasets: [{
            label: 'Money Spent',
            data: [{% for i in test.values %} '{{ i|floatformat:2 }}', {% endfor %}],
            backgroundColor: color,
            borderColor: color2,
            borderWidth: 2
        }]
    };

    // config 
    const config = {
        type: 'doughnut',
        data,
        options: {
            plugins: {
                // Change options for ALL labels of THIS CHART
                datalabels: {
                    font: {
                        weight: 'bold',
                        size: 12
                    },
                }
            }
        },
        plugins: [ChartDataLabels],
    };

    // render init block
    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );

    // 2nd chart
    // setup 
    const data2 = {
        labels: [{% for i in test2.keys %} '{{ i }}', {% endfor %}],
    datasets: [{
        label: 'Sales of year {{ year }}',
        data: [{% for i in test2.values %} '{{ i|floatformat:2 }}', {% endfor %}],
        backgroundColor: color,
        borderColor: color2,
        borderWidth: 2
      }]
    };
    
    // config 
    const config2 = {
        type: 'bar',
        data2,
        options: {
            plugins: {
                // Change options for ALL labels of THIS CHART
                datalabels: {
                    font: {
                        weight: 'bold',
                        size: 14
                    },
                }
            }
        },
        plugins: [ChartDataLabels],
    };
    
    // render init block
    const myChart2 = new Chart(
        document.getElementById('myChart2'),
        config2
    );
</script>
{% endblock %}
