{% extends 'partials/base.html' %}
{% load static %}

{% block title %} Update Order {% endblock %}

{% block content %}

<!-- Page Header-->
<header class="bg-white shadow-sm px-4 py-3 z-index-20">
    <div class="container-fluid px-0">
        <div class="row gy-4">
            <div class="d-flex mb-0 justify-content-between align-items-center">
                <h2 class="my-0">Update Order</h2>
            </div>
        </div>
    </div>
</header>

<div class="col-lg-8 p-4">

    <form class="form-horizontal" method="POST" action="">
        {% csrf_token %}
        {% for field in form %}

        <div class="row gy-2 mb-4">
            <div class="col-sm-3 form-label">
                <strong>{{ field.label_tag }}</strong>
            </div>
            <div class="col-sm-5">
                {{ field }}
            </div>
        </div>

        {% endfor %}
        <div class="row">
            <div class="col-sm-9 ms-auto">
                <input class="btn btn-primary" type="submit" value="Submit">
                <a class="btn btn-secondary" type="button" href="{% url 'ewalletAdmin:orders' %}">Cancel</a>
            </div>
        </div>

    </form>
</div>

{% endblock %}
