{% extends 'partials/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Order List {% endblock %}

{% block content %}
<!-- Page Header-->
<header class="bg-white shadow-sm px-4 py-3 z-index-20">
    <div class="container-fluid px-0">
        <div class="row gy-4">
            <div class="d-flex mb-0 justify-content-between align-items-center">
                <h2 class="my-0">Unreceived Order List</h2>
            </div>
        </div>
    </div>
</header>

<!-- Section-->
<section class="pb-0 pt-3">
    <div class="container-fluid">
        <!-- Filter -->
        <form method="get">
            <div class="card card-body mb-2">
                <div class="row">
                    <h4 class="col-1 mt-0 text-center pt-3"><strong>Filter</strong></h4>
                    <!-- {{ filter.form }} -->
                    <div class="form-group col-sm-4 col-md-3 ">
                        {{ filter.form.date_ordered.label_tag }}
                        <div class="d-flex justify-content-between">
                            {% render_field filter.form.date_ordered class="form-control" placeholder="01/01/2021" %}
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <button type="submit" class="btn btn-primary mt-4">
                            <i class="fas fa-search"></i> Search
                        </button>
                        <a class="btn btn-primary mt-4 mx-2" href="{% url 'ewalletAdmin:orders' %}">Clear</a>
                    </div>
                </div>
            </div>
        </form>
        <!-- Order Table -->
        <div class="row gy-4">
            <!-- Order Not Received -->
            <div class="col-lg-12">
                <div class="card mb-0">
                    <div class="card-body">
                        <!-- <h4 class="mt-0"><strong>Not Received</strong></h4> -->
                        <div class="table-responsive">
                            <table class="table mb-0 align-middle" style="text-align: center">
                                <thead>
                                    <tr>
                                        <th style="width: 20%;">Date Ordered</th>
                                        <th>Payer</th>
                                        <th>Receiver</th>
                                        <th style="width: 15%;">Receive Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                {% if order %}
                                {% for order in filter.qs %}
                                {% if order.receive == False %}
                                <tbody>
                                    <tr>
                                        <td>{{ order.date_ordered|date:'d/m/Y' }}</td>
                                        <td>{{ order.parent }}</td>
                                        <td>{{ order.student }}</td>
                                        <td>{{ order.receive }}</td>
                                        <td>
                                            <a class="btn btn-sm btn-info" href="{{ order.get_update }}">Update</a>
                                        </td>
                                    </tr>
                                </tbody>
                                {% endif %}
                                {% endfor %}
                                {% else %}
                                <p>There are no order in the record.</p>
                                {% endif %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Order Received -->
            <!-- <div class="col-lg-6">
                <div class="card mb-0">
                    <div class="card-body">
                        <h4 class="mt-0"><strong>Received</strong></h4>
                        <div class="table-responsive">
                            <table class="table mb-0 align-middle" style="text-align: center">
                                <thead>
                                    <tr>
                                        <th>Date Ordered</th>
                                        <th>Payer</th>
                                        <th>Receiver</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                {% if order %}
                                {% for order in order %}
                                {% if order.receive == True %}
                                <tbody>
                                    <tr>
                                        <td>{{ order.date_ordered|date:'d/m/Y' }}</td>
                                        <td>{{ order.parent }}</td>
                                        <td>{{ order.student }}</td>
                                        <td>                                            
                                            <a class="btn btn-sm btn-info" href="{{ order.get_update }}">Update</a>
                                        </td>
                                    </tr>
                                </tbody>
                                {% endif %}
                                {% endfor %}
                                {% else %}
                                <p>There are no order in the record.</p>
                                {% endif %}
                            </table>
                        </div>
                    </div>
                </div>
            </div> -->
        </div><br>

        {% block pagination %}
        {% if is_paginated %}
        <div class="pagination">
            <ul class="pagination pagination-sm">

                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="">Previous</a>
                </li>
                {% endif %}

                <li class="page-item page-current">
                    <a class="page-link" href="#"><span>{{ page_obj.number }}</span></a>
                </li>

                <!-- <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span> -->

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="">Next</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
    {% endif %}
    {% endblock %}

</section>
<script>
    $(function () {
        $("#id_date_ordered_0").datepicker({
            dateFormat: "dd/mm/yy"
        });
        $("#id_date_ordered_1").datepicker({
            dateFormat: "dd/mm/yy"
        });
    });
</script>

{% endblock %}
