{% extends 'ewalletAdmin/store.html' %}

{% block content %}
<!-- Store -->
<section class="pb-0 pt-3">
     <div class="container-fluid">
          <div class="row gy-4">
               <!-- Filter -->
               <div class="col-lg-12">
                    <div class="card card-body mb-0">
                         <!-- {{myFilter.form}} -->
                         <form action="" method="get">
                              <div class="row gy-2">
                                   <div class="d-flex mb-0 justify-content-between align-items-center">
                                        <h4>Filter</h4>
                                        {% for filter in myFilter.form %}
                                        {{ filter.label_tag }}
                                        {{ filter }}
                                        {% endfor %}
                                        <button class="col-sm-2 btn btn-primary btn-sm" type="submit">Apply</button>
                                   </div>
                              </div>
                         </form>
                    </div>
               </div>
          </div><br>
          <div class="row gy-4">
               <!-- Recent Transactions -->
               <div class="col-lg-12">
                    <div class="card mb-0">
                         <div class="card-body">
                              <div class="table-responsive">
                                   <table class="table mb-0" style="text-align: center">
                                        <thead>
                                             <tr>
                                                  <!-- <th style="width: 15%;"></th> -->
                                                  <th>Name</th>
                                                  <th>Price</th>
                                                  <th>Quantity</th>
                                                  <th>Action</th>
                                             </tr>
                                        </thead>
                                        {% for product in products %}
                                        <tbody>
                                             <tr>
                                                  <!-- <td><img class="img-fluid" src="{{product.imageURL}}"></td> -->
                                                  <td>{{product.name}}</td>
                                                  <td>{{product.price|floatformat:2}}</td>
                                                  <td>{{product.quantity}}</td>
                                                  <td style="width: 15%;"><button data-product="{{product.id}}" data-action="add"
                                                               class="btn btn-outline-secondary add-btn update-cart">Add to
                                                            Cart</button>
                                                  </td>
                                             </tr>
                                        </tbody>
                                        {% endfor %}
                                   </table>
                              </div>
                         </div>
                    </div>
               </div>
          </div><br>
          <a class="btn w3-theme-d4 rounded-circle" href="{% url 'ewalletAdmin:store' %}">Back</a>
          <a class="btn w3-theme-d4 rounded-circle" href="{% url 'ewalletAdmin:store' %}">Continue</a>
     </div>
</section>
{% endblock %}
