{% extends 'partials/base.html' %}
{% block title %} Store {% endblock %}

{% block content %}

<!-- Page Header-->
<header class="bg-white shadow-sm px-4 py-3 z-index-20">
     <div class="container-fluid px-0">
          <div class="row gy-4">
               <div class="d-flex mb-0 justify-content-between align-items-center">
                    <h2 class="my-0">School Store</h2>
                    <!-- <a class="btn w3-theme-d4 rounded-pill" href="{% url 'ewalletAdmin:store' %}">View Product</a> -->
               </div>
          </div>
     </div>
</header>
{% endblock %}

{% block content3 %}
<!-- Card check - Store n Cart - Checkout -->
{% endblock %}
