<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <script type="text/javascript">
        var user = '{{request.user}}'

        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getToken('csrftoken');

    </script>

    <!-- Bootstrap5 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- Font Awesome CSS -->    
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
            integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
            crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
            integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
            crossorigin="anonymous"></script>
    <!-- jQuery UI Datepicker -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>   
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{% static 'css/style.default.css' %}" id="theme-stylesheet">
    <!-- W3.CSS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'css/animation.css' %}">

    {% if request.user.is_staff %}
    <link rel="stylesheet" href="{% static 'css/w3-theme-green.css' %}">
    {% else %}
    <link rel="stylesheet" href="{% static 'css/w3-theme-teal.css' %}">
    {% endif %}

    <title>
        {% block title %} {% endblock %}
    </title>
    {% block custom_css %} {% endblock %}

</head>

<body>
    <!-- Main Navbar-->
    {% include 'partials/navbar.html' %}    
    <div class="page-content d-flex align-items-stretch">
        <!-- Side Navbar -->
        <nav class="side-navbar z-index-40 w3-theme">
            <!-- Sidebar Header-->
            <div class="sidebar-header d-flex align-items-center py-4 px-3">
                <i class="fas fa-user-circle me-xl-3 fa-4x" aria-hidden="true"></i>
                <!-- <img
                    class="avatar shadow-0 img-fluid rounded-circle" src="{% static 'img/avatar-1.jpg' %}" alt="..."> -->
                <div class="ms-3 title">
                    <h1 class="h4 mb-2">{{request.user}}</h1>
                    <!-- <a href="{% url 'ewallet:user_detail' %}">View Profile <i class="fas fa-pencil-alt me-xl-3"
                           aria-hidden="true"></i></a> -->
                </div>
            </div>
            <!-- Sidebar Navidation Menus-->
            <span class="text-uppercase text-gray-400 text-xs letter-spacing-0 mx-3 px-2 heading">Main</span>
            <ul class="list-unstyled py-4">
                {% if request.user.is_staff %}
                <li class="sidebar-item"><a class="sidebar-link" href="{% url 'ewalletAdmin:home' %}">
                        <i class="fas fa-home me-xl-3" aria-hidden="true"></i>Dashboard </a></li>
                <li class="sidebar-item"><a class="sidebar-link" href="{% url 'ewalletAdmin:students' %}">
                        <i class="fas fa-graduation-cap me-xl-3" aria-hidden="true"></i>Manage Student </a></li>
                <li class="sidebar-item"><a class="sidebar-link" href="{% url 'ewalletAdmin:parents' %}">
                        <i class="fas fa-user me-xl-3" aria-hidden="true"></i>Manage Parent</a></li>
                <li class="sidebar-item"><a class="sidebar-link" href="#Dropdown" data-bs-toggle="collapse">
                        <i class="fas fa-shopping-basket me-xl-3" aria-hidden="true"></i>School Store</a>
                    <ul class="collapse list-unstyled " id="Dropdown">
                        <!-- <li><a class="sidebar-link" href="{% url 'ewalletAdmin:store' %}"><i
                                   class="fas fa-shopping-basket me-xl-3" aria-hidden="true"></i>Store</a></li> -->
                        <li class="sidebar-item"><a class="sidebar-link" href="{% url 'ewalletAdmin:products' %}">
                                <i class="fas fa-book me-xl-3" aria-hidden="true"></i>Manage Products </a></li>
                        <li class="sidebar-item"><a class="sidebar-link" href="{% url 'ewalletAdmin:orders' %}">
                                <i class="fas fa-book me-xl-3" aria-hidden="true"></i>Manage Orders </a></li>
                    </ul>
                </li>
                <li class="sidebar-item"><a class="sidebar-link" href="{% url 'ewalletAdmin:transactions' %}">
                        <i class="fas fa-history me-xl-3" aria-hidden="true"></i>Transactions </a></li>
                {% else %}
                <li class="sidebar-item"><a class="sidebar-link" href="{% url 'ewallet:home' %}">
                        <i class="fas fa-home me-xl-3" aria-hidden="true"></i>Dashboard </a></li>
                <li class="sidebar-item"><a class="sidebar-link" href="{% url 'ewallet:wallet' %}">
                        <i class="fas fa-university me-xl-3" aria-hidden="true"></i>Wallet </a></li>
                <li class="sidebar-item"><a class="sidebar-link" href="{% url 'ewallet:transactions' 1 %}">
                        <i class="fas fa-history me-xl-3" aria-hidden="true"></i>Transaction History </a></li>
                <li class="sidebar-item"><a class="sidebar-link" href="{% url 'ewallet:store' %}">
                        <i class="fas fa-shopping-bag me-xl-3" aria-hidden="true"></i>Store </a></li>
                {% endif %}

            </ul>
        </nav>       
        <div class="content-inner w-100 w3-theme-l4">
            {% block content %} {% endblock %}

            <!-- Page Footer-->
            <footer class="position-absolute bottom-0 w3-theme-l3 text-white text-center py-3 w-100 text-xs"
                    id="footer">
                <div class="container-fluid">
                    <div class="row gy-2">
                        <div class="col-sm-6 text-sm-start">
                            <p class="mb-0">Wallet2School &copy; 2022</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>       
    </div>

    <!-- Optional JavaScript (jQuery, Popper.js, Bootstrap JS)-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <!-- <script
        src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script> -->


    <script src="https://cdn.tutorialjinni.com/choices.js/9.0.1/choices.js"></script>
    <script src="https://cdn.tutorialjinni.com/choices.js/9.0.1/choices.min.js"></script>
    <!-- Main File-->
    <script src="{% static 'js/front.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Fengyuan Chen's Datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.min.css"
          integrity="sha512-YdYyWQf8AS4WSB0WWdc3FbQ3Ypdm0QCWD2k4hgfqbQbRCJBEgX0iAegkl2S1Evma5ImaVXLBeUkIlP6hQ1eYKQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.min.js"
            integrity="sha512-RCgrAvvoLpP7KVgTkTctrUdv7C6t7Un3p1iaoPr1++3pybCyCsCZZN7QEHMZTcJTmcJ7jzexTO+eFpHk4OCFAg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    {% block js_scripts %} {% endblock %}

</body>

</html>
