{% extends 'ewallet/base.html' %}
{% load static %}

{% block title %}
<title>Cart</title>
{% endblock %}

{% block content2 %}

<!-- Page Header-->
<header class="bg-white shadow-sm px-4 py-3 z-index-20">
    <div class="container-fluid px-0">
        <div class="row gy-4">
            <div class="d-flex mb-0 justify-content-between align-items-center">
                <a class="btn w3-theme-d4 rounded-pill" href="{% url 'ewallet:store' %}"> <i class="fas fa-arrow-left"></i> Back to Store </a>
                <h2 class="my-0">Cart</h2>
                <a class="btn w3-theme-d4 rounded-pill" type="button" href="{% url 'ewallet:checkout' %}">Checkout</a>
            </div>
        </div>
    </div>
</header>

<!-- Section-->
<section class="pb-0 pt-3">
    <div class="container-fluid">
        <!-- Cart item -->
        <div class="row gy-4">
            <div class="col-lg-12">
                <div class="card mb-0">
                    <div class="card-body">
                        <div class="d-flex mb-0 bg-blue justify-content-evenly align-items-center">
                            <h5>Items: <strong>{{order.get_cart_items}}</strong></h5>
                            <h5>Total: <strong>RM {{order.get_cart_total|floatformat:2}}</strong></h5>
                        </div>
                        <div class="table-responsive">
                            <table class="table mb-0" style="text-align: center">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th style="width: 5%;">Add/Subtract</th>
                                        <th>Total Price</th>
                                    </tr>
                                </thead>
                                {% for item in items %}
                                <tbody>
                                    <tr class="align-middle">
                                        <td>{{ item.product.name }}</td>
                                        <td>{{ item.product.price|floatformat:2 }}</td>
                                        <td class="quantity ">
                                            {{ item.quantity }}</td>
                                        <td><a class="chg-quantity update-cart" data-product={{item.product.id}}
                                                data-action="add" href=""><i class="fas fa-caret-up fa-2x"
                                                    aria-hidden="true"></i></a>
                                            <a class="chg-quantity update-cart" data-product={{item.product.id}}
                                                data-action="remove" href=""><i class="fas fa-caret-down fa-2x"
                                                    aria-hidden="true"></i></a>
                                        </td>         
                                        <td>{{ item.get_total|floatformat:2 }}</td>
                                    </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}