{% extends 'ewallet/base.html' %}

{% block title %}
<title>Store</title>
{% endblock %}

{% block content2 %}

<!-- Page Header-->
<header class="bg-white shadow-sm px-4 py-3 z-index-20">
     <div class="container-fluid px-0">
          <div class="row gy-4">
               <div class="d-flex mb-0 justify-content-between align-items-center">
                    <h2 class="my-0">Store</h2>
                    <a class="btn w3-theme-d4 rounded-pill " type="button" href="{% url 'ewallet:cart' %}">View Cart </a>
               </div>
          </div>
     </div>
</header>

<!-- Product Section -->
<section class="tables">
     <div class="container-fluid">
          <div class="d-flex flex-row gy-4 align-content-start">
               {% for product in products %}                              
               <div class="card card-body mx-2 rounded-2 ">
                    <img class="img-fluid mb-3" src="{{product.imageURL}}">
                    <div class="d-flex flex-row mb-3 justify-content-between">
                         <div class="p-2 bd-highlight"><strong>{{product.name}}</strong></div>
                         <div class="p-2 bd-highlight"><strong>RM{{product.price|floatformat:2}}</strong></div> 
                    </div>
                    <div class="flex-row">
                         <button data-product="{{product.id}}" data-action="add" class="btn 
                    btn-outline-secondary add-btn update-cart">Add to Cart</button>
                         <a class="btn btn-outline-success" href="#">View</a>
                    </div>
               </div>              
               {% endfor %}
          </div>
     </div>
</section>

{% endblock %}
