{% extends 'ewallet/base.html' %}
{% load static %}
{% block content2 %}

<!-- Page Header-->
<header class="bg-white shadow-sm px-4 py-3 z-index-20">
    <div class="container-fluid px-0">
        <div class="row gy-4">
            <div class="col-lg-10">
                <h2 class="mb-0 p-1">Top Up</h2>
            </div>             
        </div>
    </div>
</header>

<!--
<div class="col-lg-6">    
    <div class="form-group">
    <label for="inputAmount">Top Up Amount</label>
    <input type="text" id="inputAmount" class="form-control" aria-describedby="amountHelpBlock">
    <small id="amountHelpBlock" class="text-muted">
        Minimum amount RM 10
    </small>
    </div>    
</div>-->
<br>
<div class="box-element" id="payment-info">
    <!--<h4>Payment Methods</h4>-->
    <div id="paypal-button-container" class="col-auto"></div>
    <script src="https://www.paypal.com/sdk/js?client-id=test"></script>
    <script>paypal.Buttons().render('body');</script>
</div>

<script>
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

        style: {
                color:  'blue',
                shape:  'pill',
                label:  'pay',
                height: 40
            },

        // Set up the transaction
        createOrder: function (data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '{{order.get_cart_total}}'
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function (data, actions) {
            return actions.order.capture().then(function (details) {
                submitFormData()
                // Show a success message to the buyer
                
            });
        }


    }).render('#paypal-button-container');
</script>



{% endblock %}

