{% extends 'ewallet/base.html' %}

{% block title %}
<title>Wallet</title>
{% endblock %}

{% block content2 %}

<!-- Page Header-->
<header class="bg-white shadow-sm px-4 py-3 z-index-20">
    <div class="container-fluid px-0">
        <div class="row gy-4">
            <div class="d-flex mb-0 align-items-center">
                <h2 class="me-auto  my-0">Wallets</h2>
                <!-- <button class="btn w3-theme-d4 rounded-pill me-2" type="button" data-bs-toggle="modal" data-bs-target="#myModal"> Top Up </button> -->
                <a class="btn w3-theme-d4 rounded-pill me-2" type="button" href="{% url 'ewallet:topup' %}">
                    Top Up</a>
                <!-- <button class="btn w3-theme-d4 rounded-pill me-2" type="button" data-bs-toggle="modal"
                    data-bs-target="#myModal">Reload
                    Child</button> -->
                <a class="btn w3-theme-d4 rounded-pill me-2" type="button" href="{% url 'ewallet:reload' %}">
                    Reload</a>                
            </div>
        </div>
    </div>
</header>

<!-- Section-->
<section class="pb-0 pt-3 mb-3">
    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card bg-light mb-1 border-primary text-center rounded">
                    <div class="card-header">
                        <h3 class="h4 mb-0">My Wallet</h3>
                    </div>
                    <div class="card-body">
                        <p>RM {{ parent.wallet_balance|floatformat:2 }}</p>
                    </div>
                </div>
            </div>
            {% for s in student %}
            <div class="col">
                <div class="card bg-light mb-1 border-primary text-center rounded">
                    <div class="card-header">
                        <h3 class="h4 mb-0">{{ s.name }}</h3>
                    </div>
                    <div class="card-body ">
                        <p>RM {{ s.wallet_balance|floatformat:2 }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}

            <!-- Modal-->
            <div class="modal fade text-start" id="myModal" tabindex="-1" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModalLabel">Transfer </h5>
                            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {% for message in messages %}
                            <p>{{message}}</p>
                            {% endfor %}
                            <p>How much do you want to transfer?</p>
                            <form class="form-horizontal" method="POST" action="">
                                {% csrf_token %}
                                <!-- {{ s_wallet.student.student_id }} -->
                                <div class="col-sm-9">
                                    <!-- <div class="input-group mb-3">
                                        <label class="input-group-text" for="inputGroupSelect01">Student</label>
                                        <select class="form-select" id="inputGroupSelect01">
                                            <option selected>-----------</option>
                                            {% for s_wallet in sw %}
                                            <option value="{{ s_wallet.student.student_id }}">{{
                                                s_wallet.student.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div> -->
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">RM</span>
                                        <input type="number" class="form-control"
                                               aria-label="Dollar amount (with dot and two decimal places)">
                                    </div>
                                </div>
                                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
                                <a class="btn btn-primary" type="submit" href="{% url 'ewallet:topup' %}">
                                    Confirm
                                </a>
                                <!-- <button class="btn btn-primary" type="submit"  >Confirm</button> -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal-->
            <div class="modal fade text-start" id="myModal" tabindex="-1" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModalLabel">Topup </h5>
                            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {% for message in messages %}
                            <p>{{message}}</p>
                            {% endfor %}
                            <p>How much do you want to topup?</p>
                            <form class="form-horizontal" method="POST" action="">
                                {% csrf_token %}
                                <div class="col-sm-9">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">RM</span>
                                        <input type="number" class="form-control"
                                               aria-label="Dollar amount (with dot and two decimal places)">
                                    </div>
                                </div>
                                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
                                <button class="btn btn-primary" type="submit">Confirm</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}
