{% extends 'partials/base.html' %}

{% block title %} Add Dependent {% endblock %}

{% block content %}

<!-- Page Header-->
<header class="bg-white shadow-sm px-4 py-3 z-index-20">
  <div class="container-fluid px-0">
    <div class="row gy-4">
      <div class="d-flex mb-0 align-items-center">
        <a class="me-3" href="{% url 'ewallet:wallet' %}"> <i class="fas fa-arrow-left fa-2x"></i></a>
        <h2 class="me-auto my-0">Add New Dependent</h2>
      </div>
    </div>
  </div>
</header>

<div class="col-lg-5 p-4">

  <form class="form-horizontal" method="POST" action="">
    {% csrf_token %}
    {% for field in student_form %}

    <div class="row gy-2 mb-4">      
        {{ field.label_tag }}     
        {{ field }}      
    </div>

    {% endfor %}
    <div class="row">
      <div class="col-sm-10 ms-auto">
        <input class="btn btn-primary" type="submit" value="Submit">
      </div>
    </div>

  </form>
</div>

<script type="text/javascript">
  document.getElementById('id_student_id').classList.add("form-control");
  document.getElementById('id_name').classList.add("form-control");
  document.getElementById('id_classgroup').classList.add("form-control");
</script>
{% endblock %}