{% extends 'partials/base.html' %}
{% load widget_tweaks %}

{% block title %} Store {% endblock %}

{% block content %}

<!-- Page Header-->
<header class="bg-white shadow-sm px-4 py-3 z-index-20">
     <div class="container-fluid px-0">
          <div class="row gy-4">
               <div class="d-flex mb-0 justify-content-between align-items-center">
                    <h2 class="my-0">Store</h2>
                    <a class="btn w3-theme-d4 rounded-pill " type="button" href="{% url 'ewallet:cart' %}">View Cart </a>

               </div>
          </div>
     </div>
</header>

<!-- Product Section -->
<section class="pb-0 pt-2">
     <div class="container-fluid">
          {% for message in messages %}
          <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert" id="msg">
               {{ message | safe }}
               <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
          <!-- Filter -->
          <form method="get">
               <div class="card card-body mb-4">                    
                    <div class="row">
                         <h4 class="col-sm-1 mt-0 text-center pt-3"><strong>Filter</strong></h4>
                         <div class="form-group col-sm-4 col-md-3">
                              {{ filter.form.name.label_tag }}
                              {% render_field filter.form.name class="form-control" %}
                         </div>
                         <div class="form-group col-sm-4 col-md-3">
                              {{ filter.form.category.label_tag }}
                              {% render_field filter.form.category class="form-select" %}
                         </div>
                         <div class="col-sm-12 col-md-3">
                              <button type="submit" class="btn btn-primary mt-4">
                                   <i class="fas fa-search"></i> Search
                              </button>
                              <a class="btn btn-primary mt-4 mx-2" href="{% url 'ewallet:store' %}">Clear</a>
                         </div>
                    </div>
               </div>
          </form>
          <!-- Store items -->
          <div class="row">
               {% for product in filter.qs %}
               {% if product.quantity != 0 %}
               <div class="col-sm-3 gy-0">
                    <div class="card card-body rounded-2 mb-4">
                         <div class="d-flex flex-column flex-fill">
                              <img class="img-fluid rounded mb-3" style="height: 150px;" src="{{ product.imageURL }}">
                              <div class="p-2"><strong>{{ product.name }}</strong></div>
                              <div class="p-2"><strong>RM {{ product.price|floatformat:2 }}</strong></div>
                              <button id="add2cart" data-product="{{ product.id }}" data-action="added" class="btn 
                    btn-outline-secondary add-btn update-cart">Add to Cart</button>
                         </div>
                    </div>
               </div>
               {% endif %}
               {% endfor %}
          </div>
     </div>
</section>

<script>
     $("#msg").fadeTo(2000, 700).slideUp(700, function () {
          $("#msg").slideUp(700);
     });
     $(document).ready(function () {          
          $("#add2cart").click(function showAlert() {
               $("#msg").fadeTo(2000, 700).slideUp(700, function () {
                    $("#msg").slideUp(700);
               });
          });
     });
</script>

{% endblock %}
