{% extends 'ewalletAdmin/base.html' %}
{% load static %}

{% block another_content %}
<title>Dashboard</title>
{% endblock %}

{% block content2 %}

<!-- Page Header-->
<header class="bg-white shadow-sm px-4 py-3 z-index-20">
    <div class="container-fluid px-0">
        <h2 class="my-0">Dashboard</h2>
    </div>
</header>

<!-- Section-->
<section class="pb-0 pt-3">
    <div class="container-fluid">
        <div class="row gy-3">
            <div class="col-lg-6">
                <div class="card bg-light mb-1 border-dark">
                    <div class="card-header">
                        <h3 class="h4 mb-0" style="text-align: center">Total Students</h3>
                    </div>
                    <div class="card-body">
                        <h1 style="text-align: center;padding: 5px">{{ students.count }}</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card bg-light mb-1 border-dark">
                    <div class="card-header">
                        <h3 class="h4 mb-0" style="text-align: center">Total Registered Parent</h3>
                    </div>
                    <div class="card-body">
                        <h1 style="text-align: center;padding: 5px">{{ parents.count }}</h1>
                    </div>
                </div>
            </div>      
        </div>
    </div>
</section>

<section class="pb-0">
    <div class="container-fluid">
        <div class="row gy-4">

            <!-- Recent Transactions -->
            <div class="col-lg-8">
                <div class="card mb-0">
                    <div class="card-header">
                        <div class="card-close">
                            <div class="dropdown">
                                <button class="dropdown-toggle text-sm" type="button" id="closeCard1"
                                    data-bs-toggle="dropdown" aria-expanded="false"><i
                                        class="fas fa-ellipsis-v"></i></button>
                                <div class="dropdown-menu dropdown-menu-end shadow-sm" aria-labelledby="closeCard1">
                                    <a class="dropdown-item py-1 px-3 remove" href="#"> <i
                                            class="fas fa-times"></i>Close</a>
                                    <a class="dropdown-item py-1 px-3 edit" href="#"> <i class="fas fa-cog"></i>Edit</a>
                                </div>
                            </div>
                        </div>
                        <h3 class="h4 mb-0">Recent Transactions</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table mb-0 table-hover" style="text-align: center">

                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Transaction Type</th>
                                        <th>Description</th>
                                        <th>Amount</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                {% for transaction in transactions %}
                                <tbody>
                                    <tr>
                                        <td>{{ transaction.transaction_id }}</td>
                                        <td>{{ transaction.transaction_type }}</td>
                                        <td>{{ transaction.description }}</td>
                                        <td>{{ transaction.amount|floatformat:2 }}</td>
                                        <td>{{ transaction.date|date:'d/m/Y' }}</td>
                                    </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Recent Updates-->
            <div class="col-lg-4">
                <div class="card mb-0">
                    <div class="card-header position-relative px-4">
                        <div class="card-close">
                            <div class="dropdown">
                                <button class="dropdown-toggle text-sm" type="button" id="closeCard1"
                                    data-bs-toggle="dropdown" aria-expanded="false"><i
                                        class="fas fa-ellipsis-v"></i></button>
                                <div class="dropdown-menu dropdown-menu-end shadow-sm" aria-labelledby="closeCard1"><a
                                        class="dropdown-item py-1 px-3 remove" href="#"> <i
                                            class="fas fa-times"></i>Close</a><a class="dropdown-item py-1 px-3 edit"
                                        href="#"> <i class="fas fa-cog"></i>Edit</a></div>
                            </div>
                        </div>
                        <h3 class="h4 mb-0">School Notices</h3>
                    </div>
                    <div class="card-body p-0">
                        <!-- Item-->
                        <div class="p-3 d-flex justify-content-between">
                            <div class="d-flex"><i class="fas fa-rss text-gray-600"></i>
                                <div class="ms-3">
                                    <h5 class="fw-normal text-gray-600 mb-1">Lorem ipsum dolor sit amet.
                                    </h5>
                                    <p class="mb-0 text-xs text-gray-500">Lorem ipsum dolor sit amet,
                                        consectetur adipisicing elit sed.</p>
                                </div>
                            </div>
                            <div class="text-end ms-2"><strong
                                    class="d-block lh-1 h2 mb-0 text-gray-500">24</strong><small
                                    class="d-block lh-1 text-gray-500">May</small></div>
                        </div>
                        <!-- Item-->
                        <div class="p-3 d-flex justify-content-between bg-light">
                            <div class="d-flex"><i class="fas fa-rss text-gray-600"></i>
                                <div class="ms-3">
                                    <h5 class="fw-normal text-gray-600 mb-1">Lorem ipsum dolor sit amet.
                                    </h5>
                                    <p class="mb-0 text-xs text-gray-500">Lorem ipsum dolor sit amet,
                                        consectetur adipisicing elit sed.</p>
                                </div>
                            </div>
                            <div class="text-end ms-2"><strong
                                    class="d-block lh-1 h2 mb-0 text-gray-500">24</strong><small
                                    class="d-block lh-1 text-gray-500">May</small></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




{% endblock %}