{% extends 'ewalletAdmin/base.html' %}
{% load static %}

{% block another_content %}
<title>Dashboard</title>
{% endblock %}

{% block content2 %}

<!-- Page Header-->
<header class="bg-white shadow-sm px-4 py-3 z-index-20">
    <div class="container-fluid px-0">
        <h2 class="mb-0 p-1">Dashboard</h2>
    </div>
</header>

<!-- Section-->
<section class="pb-0 pt-3">
    <div class="container-fluid">
        <div class="row gy-4">

            <div class="col-lg-6">
                <div class="card bg-secondary mb-1 border-dark">
                    <div class="card-header">
                        <h3 class="h4 mb-0" style="text-align: center">Total Orders</h3>
                    </div>
                    <div class="card-body">
                        <h1 style="text-align: center;padding: 5px">4</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card bg-secondary mb-1 border-dark">
                    <div class="card-header">
                        <h3 class="h4 mb-0" style="text-align: center">Parent Student Linking Requests</h3>
                    </div>
                    <div class="card-body">
                        <h1 style="text-align: center;padding: 5px">3</h1>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<div class="row ">
    <div class="col-sm-4 mt-4">
        <div class="card bg-light mb-3 border-primary">
            <div class="card-header">Topup Requests</div>
            <div class="card-body">

                <p>Hello</p>

            </div>
        </div>
        
    </div>

    <div class="col-sm-4 mt-4">
        <div class="card bg-light">
            <div class="card-header">School Notices</div>
            <div class="card-body">

                <h1>test2</h1>


            </div>
        </div>
    </div>
</div>




{% endblock %}
