{% extends 'ewalletAdmin/base.html' %}
{% load static %}

{% block another_content %}
<title>Parent Detail</title>
{% endblock %}

{% block content2 %}
<!-- Page Header-->
<header class="bg-white shadow-sm px-4 py-3 z-index-20">
    <div class="container-fluid px-0">
        <div class="row gy-4">
            <div class="d-flex mb-0 justify-content-between align-items-center">
                <h2 class="my-0">Parent Detail</h2>
                <!-- <a class="btn w3-theme-d4 rounded-pill " type="button" href="{% url 'ewalletAdmin:student-create' %}">Add New Student</a> -->
            </div>
        </div>
    </div>
</header>

<!-- Section-->
<section class="pb-0 pt-3">
    <div class="container-fluid">
        <div class="row gy-4">
            <div class="col-lg-2 form-label">

                <p><strong>Name:</strong></p>
                <p><strong>Phone:</strong> </p>
                <p><strong>Email:</strong> </p>
                
            </div>
            <div class="col-lg-3">                
                <p><a href="{{ parent.id.get_absolute_url }}">{{ parent.name }}</a>
                </p>
                <p>{{ parent.phone }}</p>
                <p>{{ parent.email }}</p>
                
            </div>
        </div>
    </div>
</section>



{% endblock %}