{% extends 'ewalletAdmin/base.html' %}
{% load static %}

{% block another_content %}
<title>Products</title>
{% endblock %}

{% block content2 %}

<!-- Page Header-->
<header class="bg-white shadow-sm px-4 py-3 z-index-20">
    <div class="container-fluid px-0">
        <div class="row gy-4">
            <div class="col-lg-10">
                <h2 class="mb-0 p-1">School Store</h2>
            </div>
            <div class="col-lg-2">
                <a class="btn btn-sm btn-info" href="{% url 'ewalletAdmin:create_product' %}">Add New Product</a>
            </div>
        </div>
    </div>
</header>

<section class="pb-0 pt-3">
    <div class="container-fluid">
        <div class="row gy-4">
            <!-- Filter -->
            <div class="col-lg-12">
                <div class="card mb-0">
                    <div class="card-body">
                        <form action="" method="get">
                            <div class="row gy-2">
                                <div class="col-sm-2">
                                    <h4>Filter</h4>
                                </div>
                                <!-- {{myFilter.form}} -->
                                {% for filter in myFilter.form %}
                                <div class="col-sm-4 form-label">
                                    {{ filter.label_tag }}
                                    {{ filter }}
                                </div>
                                {% endfor %}
                                <button class="col-sm-2 btn btn-primary btn-sm" type="submit">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><br>
        <div class="row gy-4">
            <!-- Recent Transactions -->
            <div class="col-lg-12">
                <div class="card mb-0">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table mb-0" style="text-align: center">
                                <thead>
                                    <tr>                                        
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Update</th>
                                        <th>Remove</th>
                                    </tr>
                                </thead>
                                {% for product in products %}
                                <tbody>
                                    <tr>                                        
                                        <td>{{product.name}}</td>
                                        <td>{{product.price}}</td>
                                        <td>{{product.quantity}}</td>
                                        <td><a class="btn btn-sm btn-info"
                                                href="{% url 'ewalletAdmin:update_product' product.id %}"><i class="fa fa-pencil fa-fw"></i>Edit</a>
                                        </td>
                                        <td><a class="btn btn-sm btn-danger"
                                                href="{% url 'ewalletAdmin:delete_product' product.id %}"><i class="fa fa-trash-o fa-fw"></i>Delete</a>
                                        </td>
                                    </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div><br>
        <nav aria-label="...">
            <ul class="pagination pagination-sm">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item" aria-current="page">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</section>

{% endblock %}