{% extends 'ewalletAdmin/base.html' %}
{% load static %}

{% block another_content %}
<title>Transaction List</title>
{% endblock %}

{% block content2 %}
<!-- Page Header-->
<header class="bg-white shadow-sm px-4 py-3 z-index-20">
    <div class="container-fluid px-0">
        <div class="row gy-4">
            <div class="d-flex mb-0 justify-content-between align-items-center">
                <h2 class="my-0">Transaction List</h2>
                <a class="btn w3-theme-d4 rounded-pill " type="button"
                   href="{% url 'ewalletAdmin:transaction-create' %}">Add New Transaction</a>
            </div>
        </div>
    </div>
</header>

<!-- Section-->
<section class="pb-0 pt-3">
    <div class="container-fluid">
        <!-- Transaction Table -->
        <div class="row gy-4">
            <div class="col-lg-12">
                <div class="card mb-0">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table mb-0 align-middle" style="text-align: center">
                                <thead>
                                    <tr>
                                        <th>Transaction ID</th>
                                        <th>Payer</th>
                                        <th>Transaction Type</th>
                                        <th>Description</th>
                                        <th>Amount</th>
                                        <th>Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                {% if transaction_list %}
                                {% for transaction in transaction_list %}
                                <tbody>
                                    <tr>
                                        <td><a href="{{ transaction.get_absolute_url }}">{{ transaction.transaction_id }}</a></td>
                                        <th>{{ transaction.parent }}, {{ transaction.s_wallet }}</th>
                                        <td>{{ transaction.transaction_type }}</td>
                                        <td>{{ transaction.description }}</td>
                                        <td>{{ transaction.amount|floatformat:2 }}</td>
                                        <td>{{ transaction.timestamp|date:'d/m/Y' }}</td>
                                        <td><a class="btn btn-sm btn-info"
                                               href="{{ transaction.get_update }}">Update</a>
                                            <a class="btn btn-sm btn-danger"
                                               href="{{ transaction.confirm_delete }}">Delete</a>
                                        </td>
                                    </tr>
                                </tbody>
                                {% endfor %}
                                {% else %}
                                <p>There are no transaction in the record.</p>
                                {% endif %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div><br>

        {% block pagination %}
        {% if is_paginated %}
        <div class="pagination">
            <ul class="pagination pagination-sm">

                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="">Previous</a>
                </li>
                {% endif %}

                <li class="page-item page-current">
                    <a class="page-link" href="#"><span>{{ page_obj.number }}</span></a>
                </li>

                <!-- <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span> -->

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="">Next</a>
                </li>
                {% endif %}

            </ul>
        </div>
        {% endif %}
        {% endblock %}
    </div>
</section>


{% endblock %}
