{% extends 'ewalletAdmin/base.html' %}
{% load static %}

{% block another_content %}
<title>Add/Update Transaction</title>
{% endblock %}

{% block content2 %}

<!-- Page Header-->
<header class="bg-white shadow-sm px-4 py-3 z-index-20">
    <div class="container-fluid px-0">
        <div class="row gy-4">
            <div class="d-flex mb-0 justify-content-between align-items-center">
                <h2 class="my-0">Add/Update Transaction</h2>
            </div>
        </div>
    </div>
</header>

<div class="col-lg-12 p-4">

    <form id="form" class="form-horizontal" method="POST" action="">
        {% csrf_token %}
        {% for field in form %}

        <div class="row gy-2 mb-4">
            <div class="col-sm-2">
                <strong>{{ field.label_tag }}</strong>
            </div>
            <div class="col-sm-8">
                {{ field }}
            </div>
        </div>

        {% endfor %}
        <div class="row">
            <div class="col-sm-10 ms-auto">
                <input class="btn btn-primary" type="submit" value="Submit">
                <a class="btn btn-secondary" type="button" href="{% url 'ewalletAdmin:transactions' %}">Cancel</a>                
              </div>
        </div>

    </form>
</div>

<script type="text/javascript">
    var form = document.getElementById('form')
    form.addEventListener('submit', function (e) {
        e.preventDefault()
        console.log('Form Submitted...')
        console.log('Continue button clicked')        
        console.log('Student: ', form.s_wallet.value)
        console.log('Amount: ', form.amount.value)

        // var reloadamount = form.amount.value
        // var pw = '{{ pw.balance }}'        
        // if (reloadamount > parseInt(pw)) { 
        //     console.log('Reload amount is bigger than wallet balance')
        //     alert('Not enough balance. Please topup.');
        //     window.location.href = "{% url 'ewallet:wallet' %}"
        // } else {            
        //     submitFormData()
        // }

        submitFormData()
            
    })

    function submitFormData() {
        console.log('Payment btn clicked')

        var transFormData = {            
            's_wallet': form.s_wallet.value,
            'amount': form.amount.value,
        }
        
        var url = "/admin2/process_transaction2/"
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({ 'form': transFormData })
        })

            //promise, turn the data to json value
            .then((response) => response.json())
            .then((data) => {
                console.log('Success:', data); //jsonresponse from views.py
                alert('Transaction Completed!');
                window.location.href = "{% url 'ewalletAdmin:transactions' %}"
            })
    }

</script>

<script type="text/javascript">    
    document.getElementById('id_amount').classList.add("form-control");
    document.getElementById('id_s_wallet').classList.add("form-control");   
</script>

{% endblock %}